.wrapper-box {
  height: 100vh;
  transition: background-color 1s ease-out;
  display: flex;
  justify-content: center;
}

.content-box {
  background-color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;

}

.quoteText {
  font-size: 1.75em;
  font-weight: 500;


}

.authorText {
  font-weight: 1.5em;
  font-size: medium;
  text-align: right;

}

.button {
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: none;
  font-weight: bold;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

#new-quote {
  margin-left: auto;
}


.socialmediabutton {
  width: 3em;
  height: 3em;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
}


.socialmediabutton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.color0 {
  background-color: crimson;
  color: white
}

.color0 p {
  color: crimson;
  background-color: white;
}


.color1 {
  background-color: saddlebrown;
  color: white
}

.color1 p {
  color: saddlebrown;
  background-color: white;
}

.color2 {
  background-color: teal;
  color: white
}

.color2 p {
  color: Teal;
  background-color: white;
}

.color3 {
  background-color: darkslategray;
  color: white
}

.color3 p {
  color: darkslategray;
  background-color: white;
}

.color4 {
  background-color: black;
  color: white
}

.color4 p {
  color: black;
  background-color: white;
}

.color5 {
  background-color: purple;
  color: white;

}

.color5 p {
  color: purple;
  background-color: white;
}


.color6 {
  background-color: brown;
  color: white
}

.color6 p {
  color: brown;
  background-color: white;
}

.color7 {
  background-color: navy;
  color: white;


}

.color7 p {
  color: Navy;
  background-color: white;
}


.color8 {
  background-color: indigo;
  color: white;

}

.color8 p {
  color: indigo;
  background-color: white;
}


.color9 {
  background-color: green;
  color: white;

}

.color9 p {
  color: green;
  background-color: white;
}

.color10 {
  background-color: olive;
  color: white;

}

.color10 p {
  color: olive;
  background-color: white;
}


.color11 {
  background-color: tomato;
  color: white;

}

.color11 p {
  color: tomato;
  background-color: white;
}